/* css styles */

.gb-orange {
    color: #d65d0e;
}

.gb-red {
    color: #cc241d;
}

.gb-blue {
    color: #076678;
}

.gb-green {
    color: #b8bb26;
}

.huge {
  font-size: 3em;
  font-weight: bold; /* optional */
}

.smaller {
  font-size: 90%;
}
